# Descriptive Summaries

- Data shape
- Variable types
- Descriptive Summaries
- Missing values
- Missing records
- Duplicates

In [ ]:
import pandas as pd
import matplotlib
import seaborn as sns

In [15]:
url = 'https://github.com/bradybr/practical-data-science-and-ml/blob/main/datasets/sleep_study.csv?raw=true'
dat = pd.read_csv(url, sep = ',')
dat

,id,gender,age,country,study_begin,study_end,active_mins,sleep_disturb_mins,sleep_rem_mins
0,1,F,38.0,USA,4/3/2021,4/9/2023,96.8,227.5,25.9
1,2,M,72.0,Poland,4/3/2021,4/9/2023,245.6,644.2,86.7
2,3,F,95.0,Italy,4/3/2021,4/9/2023,279.4,465.6,31.8
3,4,M,37.0,USA,4/3/2021,4/9/2023,60.0,109.0,19.7
4,5,F,80.0,Spain,4/3/2021,4/9/2023,89.4,113.3,38.6
...,...,...,...,...,...,...,...,...,...
872,872,F,17.0,Italy,4/3/2021,4/9/2023,42.1,87.7,42.3
873,873,F,64.0,USA,4/3/2021,4/9/2023,128.5,268.8,23.4
874,874,F,27.0,Italy,4/3/2021,4/9/2023,43.2,84.1,18.0
875,875,F,69.0,Spain,4/3/2021,4/9/2023,246.8,237.6,44.1
876,876,M,27.0,USA,4/3/2021,4/9/2023,320.2,313.3,112.8

In [20]:
dat.shape

(877, 9)

In [16]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 877 entries, 0 to 876
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  877 non-null    int64
 1   gender              877 non-null    object
 2   age                 876 non-null    float64
 3   country             877 non-null    object
 4   study_begin         877 non-null    object
 5   study_end           864 non-null    object
 6   active_mins         873 non-null    float64
 7   sleep_disturb_mins  871 non-null    float64
 8   sleep_rem_mins      868 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 61.8+ KB

In [17]:
vars = ['age','active_mins','sleep_disturb_mins','sleep_rem_mins']
dat[vars] = dat[vars].astype('float')

vars = ['id']
dat[vars] = dat[vars].astype('object')

In [18]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 877 entries, 0 to 876
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  877 non-null    object
 1   gender              877 non-null    object
 2   age                 876 non-null    float64
 3   country             877 non-null    object
 4   study_begin         877 non-null    object
 5   study_end           864 non-null    object
 6   active_mins         873 non-null    float64
 7   sleep_disturb_mins  871 non-null    float64
 8   sleep_rem_mins      868 non-null    float64
dtypes: float64(4), object(5)
memory usage: 61.8+ KB

- Cardinality
- Extreme values
- Skewness

In [33]:
dat.describe()

              age  active_mins  sleep_disturb_mins  sleep_rem_mins
count  876.000000   873.000000          871.000000      868.000000
mean    54.180365   215.113288          311.560505      121.689862
std     23.713565   818.659392          816.548732      825.359631
min      0.000000     2.000000            2.000000        2.000000
25%     35.000000    81.300000          146.700000       26.500000
50%     54.000000   130.500000          226.900000       43.800000
75%     74.000000   199.700000          322.950000       69.300000
max    146.000000  9999.000000         9999.000000     9999.000000

In [35]:
dat[['id','gender','country']].describe()

         id gender country
count   877    877     877
unique  875      2       4
top      89      F   Italy
freq      2    613     345

In [59]:
dat.isna().sum()

id                     0
gender                 0
age                    1
country                0
study_begin            0
study_end             13
active_mins            4
sleep_disturb_mins     6
sleep_rem_mins         9
dtype: int64

In [45]:
dat[dat.duplicated()]

,id,gender,age,country,study_begin,study_end,active_mins,sleep_disturb_mins,sleep_rem_mins
88,89,F,53.0,Italy,4/3/2021,4/9/2023,141.0,186.6,107.1
238,238,M,0.0,Poland,4/3/2021,4/9/2023,2.0,2.0,2.0

In [53]:
dat[dat['id'].isin([89,238])]

,id,gender,age,country,study_begin,study_end,active_mins,sleep_disturb_mins,sleep_rem_mins
87,89,F,53.0,Italy,4/3/2021,4/9/2023,141.0,186.6,107.1
88,89,F,53.0,Italy,4/3/2021,4/9/2023,141.0,186.6,107.1
237,238,M,0.0,Poland,4/3/2021,4/9/2023,2.0,2.0,2.0
238,238,M,0.0,Poland,4/3/2021,4/9/2023,2.0,2.0,2.0

In [56]:
dat.drop_duplicates(inplace = True)

In [58]:
dat.shape

(875, 9)

In [ ]:
from ydata_profiling import ProfileReport

dqr = ProfileReport(dat, title = "Profiling Report")
dqr.to_notebook_iframe()